.wrapper {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-image: url("/images/img.avif");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.title {
  margin-bottom: 1rem;
}

.link {
  font-size: 1.5rem;
  color: #0070f3;
  text-decoration: underline;
  cursor: pointer;
}
