.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-image: url("/images/img.avif");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  color: white;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}

.title {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem !important;
}

.description {
  text-align: center;
  margin-bottom: 1rem !important;
}

.button {
  border-radius: 0.5rem !important;
}
